  {% assign number_of_related_products_per_row = 20 %}
  {% assign counter = 0 %}
  {% assign break_at = number_of_related_products_per_row %}
  {% assign current_product = product %}
  {% assign cols = '' %}
  {% assign mens = false %}
  {% assign women = false %}
  {% assign same_vendor = false %}
  {% assign same_type = true %}
  {% assign product_items = '' %}
    {% for collection in current_product.collections %}
        {% if collection.handle != 'all' and collection.handle != 'new-arrivals' and collection.handle != 'bestselling-products' %}
            {% if collection.handle contains 'women' %}
                 {% assign mens = true %}
            {% endif %}
            {% if collection.handle contains 'mens' %}
                 {% assign women = true %}
            {% endif %}
            {% if cols == '' %}
                {% assign cols = collection.handle %}
            {% else %}
                {% assign cols = cols | append: ',' | append:collection.handle %}
            {% endif %}
        {% endif %}
    {% endfor %}
        
  {% assign h_cols = cols | split:',' %}
        
  {% for col in h_cols %} 
    {% assign col_instance = collections[col] %}
    {% for product in col_instance.products %}
        {% if product.available %}
            {% assign skip = false %}
            {% if mens %} 
                {% for collection in product.collections %}
                    {% if collection.handle contains 'mens' %}
                        {% assign skip = true %}
                        {%break%}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if women %}
                {% for collection in product.collections %}
                    {% if collection.handle contains 'women' %}
                        {% assign skip = true %}
                        {%break%}
                    {% endif %}
                {% endfor %}
            {% endif %}
            
           {% if skip == false %}
            {% unless product.handle == current_product.handle %}
               {% unless same_vendor and current_product.vendor != product.vendor %}
                 {% unless same_type and current_product.type != product.type %}
                    {% assign counter = counter | plus: 1 %}
					{% if product_items == '' %}
                        {% assign product_items = product.handle %}
                    {% else %}
                   		{% assign product_items = product_items | append: ',' | append: product.handle %}
					{% endif %}
                   {% if counter == break_at %}
                     {% break %}
                   {% endif %}
                 {% endunless %}
              {% endunless %}
            {% endunless %}
          {% else %}
            {% continue %}
          {% endif %}
       {% endif %}
    {% endfor %}
	{% if counter == break_at %}
    	{% break %}
    {% endif %}
  {% endfor %}
{% assign product_items = product_items | split: ',' %}
  <span class="vs-overlay"></span>
  <div class="view-similar-product-wrapper position-relative" id="view-similar-product-wrapper">

    <span class="close-vs">&#10006;</span>
     <div class="">
       {% if product_items.size > 0 %}
       	<div class="vs-header">
           <h3>Similar Products</h3>
        </div>
        <div class="product-list scrollable" id="similar-products">
          {%- for item in product_items -%}
              {%- assign related_product = all_products[item] -%}
              {%- render 'product-item-similar', product: related_product, show_add_to_cart:true -%}
          {% endfor %}
        </div>
       {% else %}
         <div class="vs-header">
           <h3 style="text-align: center;margin: 0 auto;">Sorry, no similar product available</h3>
         </div>
       {% endif %}
     </div>

  </div>


<style>
  .vs-overlay{
    display:none;
  	position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.7);
    z-index:9
  }
  .vs-overlay.show{display:block;}
   .view-similar-product-wrapper{
   position:fixed;
   bottom:calc(-80vh - 100px);
   height:80vh;
   left:0;
   right:0;
   background:#fff;
   border-radius:15px 15px 0 0;
   z-index:99;
   padding:15px;
   box-shadow:0 0 5px #ccc;
   transition:all 0.3s ease;
     text-align: left;
   }
   .view-similar-product-wrapper.show{
   bottom:0;
   }
@media (min-width:1200px){
  .view-similar-product-wrapper{
    right: 0;
    height: calc(100vh - 158px);
    bottom:calc(-100vh - 100px);
    width: 35vw;
    left: auto;
  }
}
   .view-similar-product-wrapper .product-list{
   display:flex;
   flex-wrap:wrap;
   justify-content:space-between;
   border:0;
   overflow-y:auto;
   height:calc(80vh - 50px);
   }
   .view-similar-product-wrapper .product-list .product-item  {
   width:49%;
   padding:8px;
   border:1px solid #eee;
   border-radius:8px;
   margin:15px 0;
   }
   .close-vs{
   position:absolute;
   display:inline-block;
   width:35px;
   height:35px;
   text-align:center;
   line-height:35px;
   border-radius:50%;
   box-shadow:0 0 5px #ccc;
   background:#fff;
   top:-45px;
   left:calc(50% - 17px);
   font-size:22px;
    cursor: pointer;
   }
  @media (min-width:1200px){
    .close-vs{
      top: 15px;
      left: auto;
      right: 10px;
      z-index: 2;
    }
    .view-similar-product-wrapper .product-list {
      height: calc(100vh - 208px);
    }
  }
  .overflow-hidden{
  	overflow:hidden;
    height:100vh;
  }
  p.page__description.alert.alert--info.size-view {
    cursor: pointer;
  }
  .cart-wrapper .freeship-minicart .alert.size-view linked {
    color: #007ED2;
  }
</style>
<script>
    function similarWrapperOverlay() {
        $('.view-similar-product-wrapper').removeClass('show');
        $('body').removeClass('overflow-hidden');
        $('.vs-overlay').removeClass('show');
    }
   $(document).ready(function(){
    if(getCookie("cart-vs-popup-open") == 'true'){
      $(".view-similar-product-wrapper").addClass("show");
       $("body").addClass('overflow-hidden');
       $(".vs-overlay").addClass("show");
       window.history.pushState('forward', null, '');
       document.cookie = "cart-vs-popup-open=false;path=/";
    }
	$(document.body).on('click','.size-view', function(e) {
      $(".view-similar-product-wrapper").addClass("show");
       $("body").addClass('overflow-hidden');
       $(".vs-overlay").addClass("show");
       window.history.pushState('forward', null, '');
     });
     $(document.body).on('click','.close-vs', function(e) {
          similarWrapperOverlay();
     })
      $(window).on('popstate', function () {
          similarWrapperOverlay();
    });
   })
</script>