

      <style>

.content-collepse{
 display:none;
}
.collpse-accoridian{
  border-top:1px solid #000;
}
.collpse-accoridian:last-child{
  border-bottom:1px solid #000;
}

.collpse-accoridian .hdng-t{
    /*font-size: 16px;*/
    font-weight: 500;
    margin: 0px;
    padding: 15px 0px;
    position:relative;
  	cursor:pointer;
    padding-right: 20px;
}
.collpse-accoridian .hdng-t:before{
 	content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    background: #000;
    right: 0px;
    top: 50%;
    transform: translate(0px, -50%);
}

.collpse-accoridian .hdng-t:after{
 	content: "";
    position: absolute;
    width: 2px;
    height: 12px;
    background: #000;
    right: 5px;
    top: 50%;
    transform: translate(0px, -50%);
}
.collpse-accoridian .hdng-t.active:after{
 display:none;
}
.collpse-accoridian .content-collepse{
  margin-top:-10px;
}
.collpse-accoridian .content-collepse p{
  /*font-size:14px;*/
  margin-bottom:20px;
}
.collpse-accoridian .content-collepse2{
  margin-top:-10px;
}
.collpse-accoridian .content-collepse2 p{
  /*font-size:14px;*/
  margin-bottom:20px;
}
.your-qution-section{
  padding:60px 0px;
  background: #F3EDE5;
}
.your-qution-section .heading-bx p{
 /*font-size:14px;*/
  font-weight:500;
  margin-bottom:0px;
}
.content-collepse2{
 display:none;
}
.your-question .collpse-accoridian {
    border-top: 1px solid #b1b1b1;
}
.your-question .collpse-accoridian:last-child {
    border-bottom: 1px solid #b1b1b1;
}
.your-question .collpse-accoridian .hdng-t:before{
 top:34%;
  background: none;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  width: 12px;
  height: 12px;
  transform: rotate(224deg);
}
.your-question .collpse-accoridian .hdng-t.active:before{
  transform: rotate(44deg);
}
.your-question .collpse-accoridian .hdng-t:after{
  display:none;
}
.your-qution-section{
 position:relative;
}
.tree-right{
	position: absolute;
    right: 0px;
    display: block;
    top: -35px;
    width: 140px;
}
.help-content{
  text-align:center;
}
.help-box{
 padding:30px;
  background: #F3EDE5;
}
.help-inner{
  border:1px solid #000;
  padding:80px 20px;
  
}
.inner-gap-help{
  width:70%;
  margin:0px auto;
  text-align:center;
}
.inner-gap-help .section__title{
justify-content: center;
}
.help-content2 p{
  font-size:14px;
  margin-bottom:15px;
}
.help-content2 p:last-child{
 margin-bottom:0px;
}

.help-content-section{
 background:#fff;
  padding:60px 0px;
}
.product-descrip{
  padding-bottom:60px;
}
.product-descrip .collpse-accoridian .hdng-t{
  /*font-size:14px;*/
}
.collpse-accoridian .content-collepse2 p{
  /*font-size:13px;*/
}
.your-question.product-descrip .collpse-accoridian .hdng-t:before {
    top: 41%;
    background: none;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    width: 8px;
    height: 8px;
}
.your-question.product-descrip .collpse-accoridian .hdng-t.active:before{
  transform: rotate(46deg);
}
.collpse-accoridian .content-collepse2 ul li {
/*font-size: 13px;*/
    list-style: none;
    padding-left: 15px;
    position: relative;
    margin-bottom: 15px;
    line-height: 23px;
}
.collpse-accoridian .content-collepse2 ul li:after{
content: "";
    position: absolute;
    top: 9px;
    left: 0px;
    width: 6px;
    height: 6px;
    border-radius: 30px;
    background: #000;
}
</style>
<section class="section quick_links collection" >
  <div class="container">
    <div class="content-wrapper">
      <p>Sustainable lifestyle is the only way forward for every individual if they want to have adequate resources for their survival and co-exist peacefully on this planet. Mankind has exerted so much pressure on each of the natural resources that if everything goes on as it currently is, it will endanger the existence of all life on Earth in the time to come. Amala Earth realises the importance of living consciously and sustainably in every moment. It enables individuals to live every aspect of their lives in an <b>earth-friendly</b> manner. It brings together all stakeholders including brands, products, experts and consumers on its platform to drive a change in consumption and behavioural patterns of individuals and thus, promote responsible choices.</p>
      <div class="your-question product-descrip">
          <div class="set-tab2 collpse-accoridian">
              <h3 class="hdng-t active">What do we stand for?</h3>
              <div class="content-collepse2">
                  <p>Amala Earth strives to create a conscious community where individuals believe in making responsible choices. The name itself tells its purpose. Amala is derived from the Sanskrit word, amal which means &lsquo;clean and pure&rsquo;. Earth signifies its focus on promoting an earth-friendly way of living. The name is also inspired by Amala Consciousness; which is the highest form of purity in Buddhism.</p>
                  <p>We, at Amala Earth, identify our journey with the lifecycle of a butterfly, which is our choice of icon. The transformation of a caterpillar to a butterfly is fascinating and inspiring at the same time. When a butterfly is fully developed, the fluttering of its wings in one part of the world can have an effect in another. This is the butterfly effect which we hope to bring to our world.</p>
                  <p>Amala Earth believes in the power of transformation and has immense trust in the capacity of humanity to evolve into more awakened and conscious individuals who care for their fellow beings and their planet. It aims to create a space where people are inspired to become a part of the conscious community. Similar to the butterfly effect, they are motivated to embrace change in their lifestyle and create a better world for everyone. One can start with small <strong>eco-friendly</strong> actions which will make a huge difference.</p>
                  <p>Thus, the goal of Amala Earth is to provide a space where transformation is encouraged and a community of responsible individuals come together to create and implement everything that is healthy for all life forms and our planet. It tries to achieve that by offering better alternative solutions for a sustainable lifestyle.</p>
              </div>
          </div>
          <div class="set-tab2 collpse-accoridian">
              <h3 class="hdng-t">Our Ethos</h3>
              <div class="content-collepse2">
                  <p>The ethos of Amala Earth is to be conscious of its role in protecting and caring for the community as well as the Earth. It does so by creating a one-stop marketplace for all sorts of products and brands which are either moving towards or striving to be more eco-friendly and sustainable. This way, it builds a community of conscious individuals by bringing together the producers and the consumers who support sustainability as the way of life.</p>
                  <p>Some key terms which define the character of Amala Earth precisely are as follows:</p>
                  <ul>
                      <li><strong>Authentic</strong>: Amala Earth prides itself in its authenticity. It strives to remain true to the consumer and build a life-long connection with them as a reliable space they can seek whenever they need to. It takes ethical practices very seriously to strengthen the authenticity of the products.</li>
                      <li><strong>Responsible</strong>: The whole point of developing a platform like Amala Earth is to remind individuals, be it the producers or the consumers, of their responsibility towards each other and the environment. Amala Earth encourages everyone to make informed choices which do not affect the environment adversely.</li>
                      <li><strong>Local</strong>: It is of utmost priority for Amala Earth to procure from local vendors or producers. This not only supports communities at ground level but also keeps the Indian heritage alive. In a world run by global brands and fast fashion, Amala Earth promotes handcrafted and intricately made products from <strong>natural materials </strong>to help consumers reconnect with their Indian roots and reduce their carbon footprint. It urges the consumers to reconsider their behavioural patterns across different aspects of living.</li>
                  </ul>
                  <p><strong>Trustworthy</strong>: Amala Earth only engages with sellers or entrepreneurs who share its vision of promoting sustainable choices. The platform supports sellers who believe in working in a transparent and trustworthy manner in terms of their whole production cycle.</p>
              </div>
          </div>
          <div class="set-tab2 collpse-accoridian">
              <h3 class="hdng-t">Three pillars of Amala Earth</h3>
              <div class="content-collepse2">
              <p>To get a better understanding of the purpose of Amala Earth, let&rsquo;s discuss its three pillars.</p>

              <ul>
                  <li><strong>Healthy and conscious living</strong>: As already mentioned, the goal of Amala Earth is to create a platform where individuals are encouraged to make responsible choices and promote healthy and conscious living. They are given earth-friendly alternatives for embracing a sustainable lifestyle. It encompasses the food they eat, the clothes they wear and the accessories they use for their homes. Amala Earth, particularly, gives importance to locally produced products made from indigenous and natural materials, which help in the development of poor artisans, along with making the planet healthier.<br />
                  Thus, Amala Earth supports individuals in their journey towards sustainability by offering them most of the products they need for healthy and conscious living at a one-stop platform.</li>
                  <li><strong>Curated marketplace</strong>: Amala Earth is the perfect place to shop for the supporters of sustainable and organic products. It chooses sellers and products to be sold on its platform very carefully. It ensures that it partners with only those businesses that share its vision of promoting conscious living and work dedicatedly to achieve that goal.<br />
                  One can find products across several categories on the platform. It offers sustainable solutions to enable consumers to embrace an earth-friendly and mindful way of living with natural, organic and vegetarian food choices, nature-inspired fashion utilising <strong>natural fabrics</strong>, natural products to create positive and eco-friendly home spaces and handcrafted accessories. Anyone on their journey towards change and transformation for the betterment of the environment and their own betterment can take their first step with Amala Earth.</li>
                  <li><strong>Conscious community</strong>: Amala Earth is much more than a marketplace for sustainable products. It is a space where like-minded people who believe in the necessity and benefits of leading a sustainable lifestyle come together to form a community and make that happen. Other than the producers and consumers, the community involves farmers, artisans, indigenous craftsmen and certain tribes that produce handcrafted or hand woven products. Amala Earth works to promote such small-scale and local producers who follow an earth-friendly approach and sustainable practices. This way the platform brings together everyone working to look after the health of the community and the environment.</li>
              </ul>

              </div>
          </div>
          <div class="set-tab2 collpse-accoridian">
              <h3 class="hdng-t">Key features of Amala Earth</h3>
              <div class="content-collepse2">
                <p>Here are the key features of Amala Earth which truly define the nature of the platform.</p>

                <ul>
                    <li><strong>Organic</strong>: Amala Earth has a rich collection of organic products across different product categories. One can find plenty of organic food items, clothing for women, men as well as newborn babies made from organic cotton and other <strong>natural fibres</strong>, organic skincare and other cosmetic products, various organic oils for a healthy body and several household essentials and home accessories made from organic materials. Organic products are free from chemicals and promote ecological balance. Thus, they are inherently eco-friendly.</li>
                    <li><strong>Eco-friendly: </strong>Amala Earth only sells products which are eco-friendly. This means the products should not cause any major adverse effects to the environment. Any product made from natural or organic materials and using processes which cause minimal harm to the environment is considered eco-friendly.</li>
                    <li><strong>Ethically sourced: </strong>The brands should not just promote sustainable products but should produce them using ethical means. <strong>Ethically sourced</strong> means that the entire supply chain of businesses, including all production processes from procuring raw materials to packaging the final product, should be ethical. Ethical sourcing includes proper working conditions, fair wages to workers ensuring their health and safety, good business ethics and the likes. Amala Earth makes sure that it partners with ethical brands only.&nbsp;&nbsp;</li>
                    <li><strong>Locally sourced:</strong> Amala Earth is an advocate of <strong>locally sourced</strong> ingredients. It especially sells products which are made from such ingredients. Locally sourced ingredients refer to items or raw materials purchased from a farmer, fisherman or any other small-scale producer. Using products made from locally sourced ingredients help consumers connect with their Indian roots.</li>
                    <li><strong>Fair trade: </strong>Amala Earth is strictly against exploitative trade practices and believes in doing trade on fair terms. It only collaborates with those businesses which also indulge in fair trade and give adequate wage and compensation to their workers.</li>
                    <li><strong>Natural fibres: </strong>There are many natural fibres available which can be used to make a variety of products, such as clothing, footwear, furniture and accessories. The most popular natural fibres used to make sustainable products are organic cotton, bamboo, sisal, rayon, jute and many more. Amala Earth offers a huge collection of products made from these earth-friendly natural fibres.</li>
                    <li><strong>Biodegradable packaging: </strong>It is not just the end product which should be sustainable. In fact, the whole process of producing it should be ethical and sustainable. Only then can it truly be called a sustainable product. The packaging of any product generates a large amount of waste. Amala Earth acknowledges this and has, thus, come up with biodegradable packaging which can naturally disintegrate.</li>
                </ul>

                <p><strong>Artisan-led: </strong>Amala Earth mostly sells products which are made from locally sourced ingredients and handmade or handcrafted by artisans which are experts in their art. This way, many popular and indigenous art forms of India are promoted. This helps individuals to reconnect with their Indian heritage while making sustainable choices at the same time.</p>


              </div>
          </div>
        
          <div class="set-tab2 collpse-accoridian">
              <h3 class="hdng-t">Product categories</h3>
              <div class="content-collepse2">
                <p>Since so much has been talked about the goals and features of Amala Earth, it&rsquo;s time to look at the wide range of products it offers to meet those aspirations.</p>

                <ul>
                    <li><strong>Mindful eating</strong>: Mindful eating refers to the act of paying attention to the food when it is bought, prepared and eaten. It is about understanding how the body feels when food is consumed. Eating mindfully can work wonders for the body. Since most people today are too busy to adopt the mindful eating approach, Amala Earth has brought a rich collection of healthy and organic food choices for them for their overall nourishment and well-being. One can explore different sub-categories according to their nutritional requirements and taste. Amala Earth has everything ranging from salts, spices, grains, pulses, tea and coffee to superfoods, healthy snacks and natural supplements.</li>
                    <li><strong>Ethical beauty</strong>: The beauty industry is often times criticised for its unethical working conditions, animal testing of cosmetic products and harmful chemicals being added to beauty products. Amala Earth ensures nothing of that sort happens. It entirely supports ethical beauty by promoting products made from naturally sourced ingredients, which will not just make you look good but also feel good. Consumers can find a number of products relating to natural skincare, oral care, hair care and beauty and bath essentials.</li>
                    <li><strong>Joyful home</strong>: Home is a place where one feels relaxed and comfortable. To create such a space filled with positivity and good vibes, Amala Earth brings the best household essentials and other accessories made from restorative and reclaimed natural materials. One can find beautiful and antique pieces of products for home decor, crockery and cutlery sets, bedding and cushions, garden and outdoors and much more.</li>
                    <li><strong>Responsible fashion</strong>: Clothing and footwear are a basic requirement for everyone. Most people like to keep updating their wardrobe. Amala Earth brings to you responsible fashion choices. Amala Earth has all the chic and trendy designs in clothing which are handwoven and made in natural fabrics. You can even find <strong>organic recyclable products</strong>. They are high-quality, comfortable and good for the environment.</li>
                    <li><strong>Conscious family</strong>: Parents have to look after every little need of their newborn baby. It is best for the children and the environment to provide them with organic and sustainable products to meet their clothing, food, skincare and other requirements. This is because these products are good for the baby&rsquo;s health and provide overall nourishment to him. Amala Earth has very carefully curated sustainable products to meet every need of a baby.</li>
                    <li><strong>Feel-good Others: </strong>This product category at Amala Earth is quite versatile. It aims to make the consumers feel good by offering them high-quality organic products for pet care, yoga, travel, stationery and books.</li>
                    <li><strong>Holistic Wellness:</strong> This product category at Amala Earth has been specifically created to ensure the overall well-being of individuals in a sustainable manner. It offers products for stress and anxiety relief, asthma and anti-pollution, women wellness, skin problems, medicinal herbs, cold and covid care.</li>
                    <li><strong>Gifts:</strong> This is the most popular product category of Amala Earth. It offers gifts for a number of occasions for the loved ones. Gift them something healthy and sustainable. One can find birthday gifts, health hampers, corporate hampers and gifts, in general, for men, women and children.</li>
                </ul>

                <p>Support Amala Earth in its journey towards a more harmonious and balanced future where every life form can co-exist peacefully. Start by creating and consuming sustainably.</p>

              </div>
          </div>
        
      </div>
    </div>
  </div>
</section>

<script>
  window.addEventListener('load',function(){
  
 $(".set-tab .hdng-t").on("click", function() {
    if ($(this).hasClass("active")) {
      $(this).removeClass("active");
      $(this)
        .siblings(".content-collepse")
        .slideUp(100);
    } else {
      $(".set-tab .hdng-t").removeClass("active");
      $(this).addClass("active");
      $(".content-collepse").slideUp(200);
      $(this)
        .siblings(".content-collepse")
        .slideDown(100);
    }
  });
  
  $(".set-tab2 .hdng-t").on("click", function() {
    if ($(this).hasClass("active")) {
      $(this).removeClass("active");
      $(this)
        .siblings(".content-collepse2")
        .slideUp(100);
    } else {
      $(".set-tab2 .hdng-t").removeClass("active");
      $(this).addClass("active");
      $(".content-collepse2").slideUp(200);
      $(this)
        .siblings(".content-collepse2")
        .slideDown(100);
    }
  });
  
});
  
</script>